<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /uauth/

  # Eğer istenen dosya veya klasör varsa, ona izin ver
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Diğer tüm istekleri index.html'e yönlendir
  RewriteRule ^ index.html [L]
</IfModule>
